torch~=2.0.1
torchvision~=0.15.2
torchinfo~=1.8.0
tqdm~=4.65.0
matplotlib~=3.7.1
einops~=0.6.1
numpy~=1.23.5
python-dotenv~=1.0.0
umap-learn[plot]~=0.5.3
wandb~=0.15.4
geotorch~=0.3.0
pytorch-fid~=0.3.0
pandas~=1.5.3
jupyter~=1.0.0
jupyterlab~=3.6.4
jupyter-lsp~=2.2.0
jupyterlab-lsp~=4.2.0
python-lsp-server[all]~=1.7.3
python-language-server[all]~=0.36.2
pyright~=1.1.315