torch~=1.13.0
torchvision~=0.14.0
torchinfo~=1.7.1
tqdm~=4.64.1
matplotlib~=3.6.2
einops~=0.5.0
numpy~=1.23.4
python-dotenv~=0.21.0
umap-learn[plot]~=0.5.3
wandb~=0.13.5
geotorch~=0.3.0
pytorch-fid~=0.2.1
