torch~=1.13.1
torchvision~=0.14.1
torchinfo~=1.7.1
tqdm~=4.64.1
matplotlib~=3.6.3
einops~=0.6.0
numpy~=1.23.5
python-dotenv~=0.21.0
umap-learn[plot]~=0.5.3
wandb~=0.13.9
geotorch~=0.3.0
pytorch-fid~=0.3.0
pandas~=1.5.3
